<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Добавить объявление</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/assets/style.css" rel="stylesheet">

    <meta name="theme-color" content="#7952b3">
   
  </head>
  {{ template "header.gohtml" .}}
  <body>
  <div class="container">
  <main>
    <div>
        <div class="py-5 text-center">
            <h2>Вход</h2>
        </div>
    </div>
    <div class="col-11 offset-1">
        <form class="needs-validation" enctype="multipart/form-data" novalidate>
          <div class="row g-2">

            <div class="col-11">
                <label for="adress" class="form-label">Email</label>
                <div class="input-group has-validation">
                  <input name="email" type="text" class="form-control" placeholder="Введите e-mail" id="email" required>
                <div class="invalid-feedback">
                    Необходимо ввести e-mail.
                  </div>
                </div>
            </div>

            <div class="col-sm-11">
              <label class="form-label">Пароль</label>
              <input name="password" type="text" class="form-control" placeholder="Введите пароль" id="password">
            </div>
          </div>
          <br><br>
          <button class="btn btn-primary btn-lg offset-3 col-5" type="submit" id="submit">Войти</button>

        </form> 
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021 FewStacks</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
    <script src="../javascript/auth.js"></script>
  </body>
</html>

