<header>
    <div class = "header-content ">
      <a href="/"><img  class="float-md-start mb-0 logo" src="/images/Logo.png"></a>
      <a href="/form" class="form btn btn-secondary fw-bold float-md-end">Добавить объявление</a>
    </div>
</header>
