<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Checkout example · Bootstrap v5.1</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/checkout/">

    

    <!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<meta name="theme-color" content="#7952b3">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      .container {
        max-width: 800px;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>
  </head>
<body class="bg-light">
<div class="container">
  <main>
    <div>
        <div class="py-4 order-md-last text-center">
            <h2>Новое объявление</h2>
        </div>
    </div>
    <p class="py-1 lead text-center">Объявление будет доступно на fewstacks.ru</p>
    <div class="col-11 offset-1">
        <form class="needs-validation" action="/add_warehouse" method = "post" novalidate> <!-- Onsubmit??-->
          <div class="row g-2">
            <h5>Адрес и название</h5>

            <div class="col-11">
                <label for="adress" class="form-label">Адрес</label>
                <div class="input-group has-validation">
                  <input name="adress" type="text" class="form-control" placeholder="Введите адрес склада" required>
                <div class="invalid-feedback">
                    Необходимо ввести адрес склада.
                  </div>
                </div>
            </div>

            <div class="col-sm-11">
              <label class="form-label">Название объявления</label>
              <input name="name" type="text" class="form-control" required placeholder="Пример: 'Логистическая компания Платина'" >
              <div class="invalid-feedback">
                    Необходимо ввести название объявления
              </div>
            </div>

            <hr class="my-4 col-11">

            <h5>Характеристики здания</h5>

            <div class="col-sm-3">
              <label class="form-label">Площадь склада</label>
              <input name="square" type="integer" class="form-control" required>
              <div class="invalid-feedback">
                    Необходимо ввести числовое значение
              </div>
            </div>
            <div class="col-sm-3"> 
                <label></label>
                <p><p>м²</p></p>
            </div>    

            <div class="col-3">
              <label for="warehouse_class" class="form-label">Класс здания</label>
              <p>
              <select name="class" class="form-select">
                <option disabled selected value></option>>
                <option value="A+">A+</option>
                <option value="A">A</option>
                <option value="B+">B+</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
              </select>        
            </div>
            <div class = "col-3"></div>

            <div class="col-3">
                <label for="age_of_construction" class="form-label">Год постройки</label>
                <input name="age_of_construction" type="number" class="form-control">
                <span class="text-muted">(не обязательно)</span>
            </div>
            <div class="col-9"></div>

          <hr class="my-4 col-11">

          <h5>Стоимость аренды</h5>
          
          <div class="col-3">
            <label class="form-label">Стеллажное хранение</label>
            <input name="shelf_cost" type="number" class="form-control" required>
            <div class="invalid-feedback">
                  Необходимо ввести числовое значение
            </div>
          </div>
          <div class="col-sm-3"> 
            <label></label>
            <p><p>руб/сутки</p></p>
          </div>   

          <div class="col-3">
            <label class="form-label">Напольное хранение</label>
            <input name="floor_cost" type="number" class="form-control" required>
            <div class="invalid-feedback">
                  Необходимо ввести числовое значение
            </div>
          </div>
          <div class="col-sm-2"> 
            <label></label>
            <p><p>руб/сутки</p></p>
          </div>

          <hr class="my-4 col-11">

          <h5>Дополнительно</h5>

          <div class="col-11">
            <label class="form-label">Описание</label>
            <textarea name="description" type="text" class="form-control"></textarea>
          </div>
          
          </div>

          <hr class="my-4 col-11">
          <button class="btn btn-primary btn-lg offset-3 col-5" type="submit">Добавить склад</button>

        </form> 
    </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021 FewStacks</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>


    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

      <script src="form-validation.js"></script>
  </body>
</html>

